rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isVerified() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email.matches('.*@aui\\.ma');
    }

    match /avatars/{userId}/{fileName} {
      allow read, write: if isVerified() && request.auth.uid == userId;
    }

    match /notes/{userId}/{noteId}/{fileName} {
      allow read, write: if isVerified() && request.auth.uid == userId;
    }

    match /templates/{userId}/{fileName} {
      allow read, write: if isVerified() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
